# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# frontend
AlloBus-front/node_modules
AlloBus-front/.env
AlloBus-front/.env.production
AlloBus-front/dist

# backend
AlloBus-back/node_modules
AlloBus-back/.env